openapi: 3.0.3
info:
  title: Atom Tasks API
  version: 1.0.0
  description: REST API for the technical challenge. All task routes require Bearer JWT from login or user creation.
servers:
  - url: https://REGION-PROJECT.cloudfunctions.net/api
    description: Cloud Functions (replace REGION and PROJECT)
  - url: http://127.0.0.1:5001/PROJECT/us-central1/api
    description: Local emulator
paths:
  /v1/users/by-email:
    get:
      summary: Check if a user exists by email
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
  /v1/users:
    post:
      summary: Create a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          description: Email already registered
  /v1/auth/login:
    post:
      summary: Issue JWT for an existing user (email only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '404':
          description: User not found
  /v1/tasks:
    get:
      security: [{ bearerAuth: [] }]
      summary: List tasks for the authenticated user (newest first)
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
    post:
      security: [{ bearerAuth: [] }]
      summary: Create a task
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
  /v1/tasks/{taskId}:
    parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
    patch:
      security: [{ bearerAuth: [] }]
      summary: Update a task
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                completed:
                  type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Not found
    delete:
      security: [{ bearerAuth: [] }]
      summary: Delete a task
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        createdAt:
          type: string
          format: date-time
    Task:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        title:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        completed:
          type: boolean
    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
    AuthResponse:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            accessToken:
              type: string
